@model MyFace.Models.View.UserViewModel

@{
    Layout = "_Layout";
}

<section id="hero-section">
    <img class="cover-image" src="@Model.CoverImageUrl" alt="Cover Image"/>
    <div class="info-container">
        <img  class="profile-image" src="@Model.ProfileImageUrl" alt="Profile Image"/>
        <div class="details-container">
            <h1 class="display-name">@Model.DisplayName</h1>
            <div class="username">@Model.Username</div>
            <div class="email">@Model.Email</div>
        </div>
    </div>
</section>

<section id="posts-section">
    <h2>@(Model.FirstName)'s Posts</h2>
    <partial name="_PostList" model="@Model.Posts"/>
    @if (Model.HasMorePosts)
    {
        <a class="show-more" href="@Model.ShowMorePostsUrl">Show More</a>
    }
</section>

<section id="likes-section">
    <h2>Posts @Model.FirstName Liked</h2>
    <partial name="_PostList" model="@Model.Likes"/>
    @if (Model.HasMoreLikes)
    {
        <a href="@Model.ShowMoreLikesUrl">Show More</a>
    }
</section>

<section id="dislikes-section">
    <h2>Posts @Model.FirstName Disliked</h2>
    <partial name="_PostList" model="@Model.Dislikes"/>
    @if (Model.HasMoreDislikes)
    {
        <a href="@Model.ShowMoreDislikesUrl">Show More</a>
    }
</section>